/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--accent-bg2);
}

/* Table headers */
th {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    text-align: left;
    padding: 12px;
    font-size: 16px;
}

/* Table rows */
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--text-color);
    transition: background-color 0.3s;
    overflow-wrap: anywhere;
    word-wrap: break-word;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    width: 30%; /* Limit file name column to 70% of table width */
}

/* Highlight row on hover */
tr:hover {
    background-color: var(--secondary-bg);
}

/* Editable cells */
td.editable {
    overflow-wrap: anywhere;
    cursor: pointer;
    border: 1px dashed var(--secondary-bg);
}

/* Table row delete button */
button {
    padding: 6px 10px;
    background-color: var(--btn-bg);
    border: none;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--btn-bg-hover);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
        overflow-wrap: anywhere;
    }

    button {
        padding: 4px 8px;
        font-size: 12px;
    }
}

.table-container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: auto;
}

.log-container {
    margin: auto;
    width: 90%;
    max-width: 1400px;
    background-color: var(--accent-bg2);
    border-radius: 10px;
    text-align: center;
}
.eeo.hidden{
    display: none;
}

.edit-del-btn-con {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Style The Dropdown Button */
.dropbtn, 
.author-input {
    margin-top: 3px;
    padding: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-bg);
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content span {
    color: var(--accent-color);
    padding: 5px 8px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content span:hover {background-color: var(--secondary-bg)}
  
  /* Show the dropdown menu on hover */

    /* Show the dropdown menu on active */
  .dropdown:hover .dropdown-content {
    display: block;
  }