.grid {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 20px;
}

@media (max-width: 768px) {
    .grid {
        width: 90%;
    }
}
@media (min-width: 769px) and (max-width: 1400px) {
    .grid {
        width: 95%;
    }
}

.grid-card {
    text-align: center;
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary-bg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.grid-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-card img.cover-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid var(--secondary-bg);
}
.image-container {
    max-height: 280px;
    overflow: hidden;
}

.grid-card h3 {
    margin: 10px;
    color: var(--text-color);
    overflow-wrap: break-word;
}