.grid {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    gap: 10px;
    padding: 20px 0px;
}

@media (max-width: 768px) {
    p,button {
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 768px) {
    .grid {
        width: 90%;
    }
}
@media (min-width: 769px) and (max-width: 1400px) {
    .grid {
        width: 95%;
    }
}
@media (min-width: 769px) {
    .card-name {
        font-size: 16px;
        font-weight: 500;
    }
}

.grid-card {
    text-align: center;
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary-bg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.grid-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-card img.cover-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid var(--secondary-bg);
}
.image-container {
    max-height: 280px;
    overflow: hidden;
}

.grid-card h3 {
    margin: 10px;
    color: var(--text-color);
    overflow-wrap: break-word;
}
.card-name {
    margin: 10px;
    color: var(--text-color);
    overflow-wrap: break-word;
}


.search-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.main-search {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#main-search-box {
    padding: 10px;
    width: 80%;
    border: 1px solid var(--btn-bg-hover);
    border-radius: 5px 0 0 5px;
    outline: none;
}

#main-search-btn {
    padding: 10px;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--accent-color);
    color: var(--accent-color);
    cursor: pointer;
}

#main-search-btn img {
    width: 20px;
    height: 20px;
}

.filter-buttons {
    margin: 15px 0;
}

.filter-btn {
    margin: 5px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--accent-color);
}

.filter-btn.active {
    background-color: var(---btn-bg-hover);
    color: var(--text-color);
    border-color: var(--btn-bg-hover);
}

.filter-search {
    position: relative;
}

.filter-search-container {
    margin-top: 20px;
    display: none; /* Hidden by default */
}

.filter-search input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    outline: none;
}

.filter-search .clear-filter-btn {
    margin-left: 10px;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.applied-filters {
    margin-top: 20px;
    text-align: left;
}

.applied-filters ul {
    list-style: none;
    padding: 0;
}

.applied-filters li {
    padding: 5px 0;
    font-size: 14px;
    color: var(--text-color);
}

.filters-list {
    display: flex;
    gap: 3px;
}
.filters-list button{
    padding: 5px 10px;
}

.gate-toggle-btn {
    background: var(--primary-bg);
    border: 2px solid var(--secondary-bg);
}