form {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--accent-bg2);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="file"] {
    display: block;
    margin-bottom: 20px;
}

button {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:  var(--btn-bg-hover);
}

/* Table styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--primary-bg);
    width: 50%;
}

th {
    background-color: var(--primary-bg);
}

td:first-child {
    width: 70%; /* Limit file name column to 70% of table width */
    word-wrap: break-word; /* Allow long text to wrap */
    overflow-wrap: anywhere;
}

td:last-child {
    width: 30%; /* Tags column takes up 30% of table width */
}

input.tag-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary-bg);
    border-radius: 4px;
}

input.tag-input:focus {
    border-color: var(--btn-bg);
}

@media (max-width: 600px) {
    td:first-child {
        width: 100%;
    }
    td:last-child{
        width: 100%;
    }
    table, th, td {
        display: block;
        width: 100%;
    }

    th, td {
        text-align: right;
        padding-left: 10px;
    }
}


.choosebtn{
    padding: 20px 10px;
    width: 100%;
    border: 1px solid var(--primary-bg);
    border-radius: 10px;
}
.alert-box{
    text-align: center;
    color: var(--btn-text);
}

#file-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.file-card {
    border: 1px solid var(--accent-color);
    padding: 16px;
    border-radius: 8px;
    background: var(--primary-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.file-card p {
    margin: 8px 0;
    overflow-wrap: anywhere;
}

.file-card .fileName {
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    overflow-wrap: anywhere;
}
.eeo.hidden{
    display: none;
}
/* Style The Dropdown Button */
.dropbtn, 
.author-input {
    margin-top: 4px;
    width: -webkit-fill-available;
    padding: 8px;
    border: 1px solid var(--primary-bg);
    border-radius: 4px;
}
.editmore {
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    width: -webkit-fill-available;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: var(--primary-bg);
min-width: 160px;
z-index: 1;
width: 60%;
}

/* Links inside the dropdown */
.dropdown-content span {
color: var(--accent-color);
padding: 5px 8px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: var(--secondary-bg)}

/* Show the dropdown menu on hover */

/* Show the dropdown menu on active */
.dropdown:hover .dropdown-content {
display: block;
}